<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake on LAN Web Interface</title>
  <link rel="stylesheet" href="/static/jquery-ui-1.13.2.custom/jquery-ui.min.css" />
  <style>
    html {
      text-align: center;
    }
    ul {
      text-align: left;
    }
    #warn {
      color: red;
      font-weight: bold;
    }
  </style>
  <script src="/static/jquery-3.6.1.min.js"></script>
  <script src="/static/jquery-ui-1.13.2.custom/jquery-ui.js"></script>
  <script>
  $( function() {
    $("#hostname").autocomplete({
      source: "/search",
      minLength: 2,
      select: function(event, ui) {
        $('input[name=uuid]').val(ui.item.id);
        console.log(ui.item);
      }
    })
  } );
  </script>
</head>
<body>
 
<div class="ui-widget">
  <div class="logo">
    <img src="static/logo.png" alt="Logo"/>
  </div>
  <form action="/wake" method="GET">
    <label for="hostname">Please select host to wake up / turn on: </label><br />
    <input id="hostname" />
    <input name="uuid" hidden />
    <input type="submit" value="Wake up" />
  </form>
  <p id="warn">{{ warn }}</p>
</div>
 
</body>
</html>