<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Wake on LAN Web Interface</title>  <style>
    html {
      text-align: center;
    }
    ul {
      text-align: left;
    }
  </style>
</head>
<body>
  <h1>Wake signal sent for {{ hostname }}</h1>
  <p>Please wait for your PC to boot up and try connecting.</p>
  <p><a href="/">Return to selection</a></p>
</body>
</html>